.text-area-container {
  display: flex;
  flex-direction: column;

  padding: 0.5rem 0rem;

  &__label {
    font-size: 0.75rem;
    color: #808080;
    margin-bottom: 0.5rem;
  }

  &__input {
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 0.5rem;
    width: auto;

    &::placeholder {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    }
  }
}
