.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 0rem 2rem 0rem 0rem;
  background-color: #b6b6b6;

  ul {
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    li {
      button {
        font-size: 1rem;
        border: none;
        background-color: transparent;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .header {
    padding: 0rem 2rem;

    ul {
      width: 100%;
    }
  }
}
